	</div>
	<script src="/javascripts/jquery-3.0.0.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
	<script src="/javascripts/fileinput.min.js"></script>
	<script src="/javascripts/user-defined.js"></script>
	<script src="/javascripts/summernote.min.js"></script>	
	<script src="/javascripts/summernote-zh-CN.js"></script>	<!--中文语言支持-->
  </body>
</html>