<% include header.ejs %>
	<div class="col-sm-2"></div>
  	<div class="col-sm-10">
  		<main>
  			<article>
  				<header>
  					<h2>
  						<a href="#">asfsdgsfg</a>
  					<h2>
  				</header>
  				<div>
  					<p>sdfaaaaaaaaaaaaaaa</p>
  					<a href="#">继续阅读</a>
  				</div>
  				<footer>
  					<span>
  						<a href="#">
  							<time class="" datatime=""></time>
  						</a>
  					</span>
  				</footer>
  			</article>
  		</main>
  	</div>
<% include footer.ejs %>
