body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.float-r {
	float: right;
}
/*让分页组件居中的方式，在外面加一个nav，并加上这个css样式*/
.page-center {
	text-align: center;
}
